.homePage {
  color: $white;
  -webkit-tap-highlight-color: transparent;
  scroll-behavior: smooth;
  .backVideo {
    position: fixed;
    bottom: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    opacity: 1;
    z-index: -1;
    opacity: 0.3;
  }
}
