.homePage {
  color: $white;
  -webkit-tap-highlight-color: transparent;
  scroll-behavior: smooth;
  video {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    opacity: 0.5;
    z-index: -1;
  }
}
