.sponsorsContainer {
  display: flex;
  max-width: 1300px;
  margin: 0 auto;
  padding: 1.5rem;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: $white;
  margin-top: 3rem;
  position: relative;
  @include media("<=700px") {
    top: -8rem;
  }
  .sponsorsTitle {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 2.7rem;
    letter-spacing: 0.1em;
    margin-bottom: 3rem;
    span {
      margin-top: 5px;
      display: block;
      margin-right: 0px;
      width: 17.5rem;
      border-radius: 5px;
      height: 3px;
      background-color: $green;
    }
    @include media("<=1100px") {
      font-size: 1.6rem;
      span {
        width: 10.5rem;
      }
    }
    @include media("<=900px") {
      font-size: 1.4rem;
      span {
        width: 9.5rem;
      }
    }
    @include media("<=390px") {
      font-size: 1.4rem;
    }
    @include media("<=360px") {
      font-size: 1.7rem;
    }
  }

  .sponsorsLogo {
    position: relative;
    box-shadow: 0px 4px 20px $green;
    border-radius: 20px;
    padding: 20px;
    cursor: pointer;
    img {
      width: 100%;
      object-fit: contain;
      height: 150px;
      @include media("<=700px") {
        height: 100px;
      }
    }
  }
}
