.useOfFundsContainer {
  max-width: 1300px;
  margin: 0 auto;
  padding: 1.5rem;
  margin-top: 5rem;
  position: relative;

  @include media("<=700px") {
    top: -9rem;
  }
  .titleText {
    display: flex;
    align-items: center;
    font-size: 2.7rem;
    letter-spacing: 0.1em;
    span {
      display: block;
      margin-right: 10px;
      width: 5px;
      border-radius: 5px;
      height: 35px;
      background-color: $green;
    }
    @include media("<=1100px") {
      font-size: 2.4rem;
    }
    @include media("<=900px") {
      font-size: 2.2rem;
    }
    @include media("<=390px") {
      font-size: 2rem;
    }
    @include media("<=360px") {
      font-size: 1.7rem;
    }
  }
  .useOfFundsContent {
    margin-top: 3rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    @include media("<=700px") {
      flex-direction: column;
    }
    .chartContainer {
      width: 40%;
      box-shadow: 0px 4px 20px $green;
      border-radius: 100%;
      @include media("<=700px") {
        width: 80%;
      }
      .inline-container {
        align-items: center;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        width: 100%;
      }
    }
    .textContainer {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 50%;
      @include media("<=700px") {
        margin-top: 2rem;
        width: 80%;
      }
      .textContent {
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        transition: all 0.3 ease-in-out;
        p {
          font-size: 2rem;
          margin-top: 2.5rem;
          transition: all 0.3 ease-in-out;
          @include media("<=1100px") {
            font-size: 1.8rem;
            margin-top: 1.9rem;
          }
          @include media("<=900px") {
            margin-top: 1.8rem;
            font-size: 1.6rem;
          }
          @include media("<=700px") {
            font-size: 1.4rem;
          }
          @include media("<=400px") {
            font-size: 1.2rem;
          }
          @include media("<=360px") {
            font-size: 1rem;
          }
        }
        .active {
          transform: scale(1.1);
        }
      }
    }
  }
}
