.wrapper-team{
  text-align: center;
  padding-top: 80px;
}

.wrapper-team h2{
  font-size: 68px;
  font-weight: 700 !important;
  margin-bottom: 24px;
}
.wrapper-team p{
  font-size:22px;
  font-weight: 400;
  color: #6CB0B5;
  max-width: 952px;
  margin:0 auto;
}
.wrapper-cards-team{
  padding-top: 64px;

}
.wrapper-card{
  padding: 32px 16px;
  text-align: center;
  background-color: #031A27;
  border: 1px solid #031A27;
  transition: 0.3s all ease-in;
  margin-bottom: 32px;
}
.wrapper-card:hover{
  border:1px solid  #6CB0B5;
}
.wrapper-card:hover .person-avatar{
  border:1px solid  #6CB0B5;
}
.wrapper-card img.person-avatar{
  margin-bottom: 24px;
  border-radius: 50%;
  transition: 0.3s all ease-in-out;
  border: 1px solid transparent;
}
.wrapper-card p{
  color: white;
  font-size: 22px;
}
.wrapper-card p.name-person{
  font-weight: 600;
}
.wrapper-card p.function-person{
  font-weight: 400;
}
.wrapper-card a{
  display: inline-block;
  margin-right: 16px;
  transition: 0.3s all ease-in-out;
}
.wrapper-card a:hover{
  transform: scale(1.1);
}
.social-icons-person{
  padding-top: 24px;
}

.accordion-button::after{
  content: none;
}
.accordion-item,
.accordion-button,
.accordion-button:focus,
.accordion-button:not(.collapsed){
  background: transparent;
  box-shadow: none;
  outline: none;
  padding:0;
  position: relative;
  border: none;
}
.accordion-header .arrow-expand{
  transition: 0.5s all ease-in-out;
  position: absolute;
  right: 0;
  top: -1px;
  border-radius: 50%;
}
.arrow-expand > path{
  fill: #CA3ADA;
  transition: 0.3s all ease-in-out;
}
.arrow-expand:hover >path{
  fill: #fff;
}
.arrow-expand:hover{
  background-color: #CA3ADA;
}

//.accordion-collapse.collapse.show ~ .accordion-header .arrow-expand{
//  transform: rotate(-90deg);
//  background-color: #CA3ADA;
//}

.wrapper-team h2.accordion-header{
  margin-bottom: 0;
}


.clasa2,.clasa4,.clasa6,.clasa8 {
  .arrow-expand {
    transform: rotate(-90deg);
    background-color: #CA3ADA;
    > path{
      fill: #fff;
    }
  }
}






