#tsum-tabs{
  text-align:center;
  margin-top: 50px;
  display: inline-block;
  background: #031A27;
  border-radius: 100px;
  padding: 16px;
}
.swiper-section section {
  padding-top: 42px;
}


#tsum-tabs div {
  display: inline-block;
  color: #fff;
  font-size: 24px;
  font-weight: 700;
  min-width: 473px;
  padding:18px 24px;
  border-radius: 100px;
  transition: 0.3s all ease-in-out;
  cursor: pointer;
  text-align: center;
  margin: 0 10px;
}
#tsum-tabs div:hover,
#tsum-tabs div.tab-active{
  background: linear-gradient(135deg, #973DDD 0%, #CA3ADA 100%);
}


.wrapper-tabs{
  background-color: #031A27;
  padding: 16px;
  border-radius: 100px;
}
.our-collection{
  padding-top: 64px;
  min-height: 700px;
  padding-bottom: 124px;
}
.our-collection h2{
  font-size: 68px;
  font-weight: 700 !important;
  margin-bottom: 24px;
}
.our-collection p{
  font-size:22px;
  font-weight: 400;
  color: #8B8ACA;
  margin-bottom: 24px;
}
.our-collection .btn-main{
  margin-right: 16px;
}
.bubble-text{
  position: absolute;
  left:50%;
  top:50%;
  transform:translate(-50%,-50%);
  width: 100%;
}
.blob h4,
.wrap-ball-mobile h4{
  font-family: 'Barlow', sans-serif;
  font-weight: 700 !important;
  font-size: 54px;
  color: white;
  line-height: 1;
}
.blob h4 span,
.wrap-ball-mobile h4 span{
  font-family: 'Barlow', sans-serif;
  font-weight: 400 !important;
  font-size: 34px;
  color: white;
  display: inline-block;
  line-height: 1;
  margin-bottom: 4px;
}
.blob h5,
.wrap-ball-mobile h5{
  font-family: 'Barlow', sans-serif;
  font-weight: 400 !important;
  font-size: 22px;
  color: #8B8ACA;
  line-height: 1;
  margin-bottom: 0;
}

.ball-top{
  position: absolute;
  left: 36%;
  width: 30%;
}
.ball-bottom{
  position: absolute;
  top: 69%;
  left: 32%;
  width: 30%;
}
.ball-left{
  position: absolute;
  left: 0;
  top: 22%;
  width: 42%;
}
.ball-right{
  position: absolute;
  right: 5%;
  top: 31%;
  width: 39%;
}
.wrap-ball-mobile{
  position: relative;
  //animation: pulse-black 3s infinite;
}
.wrap-text-mobile{
  position: absolute;
  left:50%;
  top:50%;
  transform:translate(-50%,-50%);
  width: 100%;
}
.balls-mobile .col-6{
  margin-bottom: 30px;
}
.balls-mobile{
  padding: 0 20px;
}

@media screen and (min-width: 1200px){
  .wrapper-bubbles{
    padding-bottom: 100px;
  }
}
@media screen and (max-width: 1400px){
  .blob h4{
    font-size: 42px;
  }
  .blob h4 span{
    font-size: 24px;
  }
  .blob h5{
    font-size: 18px;
  }
}
@media screen and (max-width: 1200px){
  .ball-top{
    left: 38%;
    top: 3%;
  }
  .ball-bottom{
    top: 64%;
    left: 26%;
  }
  .ball-left{
    left: 0;
    top: 17%;
  }
  .ball-right{
    right: 5%;
    top: 30%;
  }
}
@media screen and (max-width: 992px){
  .balls-collection{
    min-height: 500px;
    margin-top: 50px;
  }
  .ball-top{
    position: absolute;
    left: 42%;
    width: 20%;
  }
  .ball-bottom{
    position: absolute;
    top: 64%;
    left: 39%;
    width: 20%;
  }
  .ball-left{
    position: absolute;
    left: 12%;
    top: 17%;
    width: 33%;
  }
  .ball-right{
    position: absolute;
    right: 12%;
    top: 25%;
    width: 32%;
  }
}


.blob,
.ballm-1{
  transform: scale(1);
  animation: pulse-black 3s infinite;
  border-radius: 50%;
  transition: 0.3s all ease-in-out;
  cursor: pointer;
}
.blob.ball-top,
.ballm-2{
  transform: scale(1);
  animation: pulse-black 3s infinite;
  animation-delay: 0.3s;
}
.blob.ball-bottom,
.ballm-3{
  transform: scale(1);
  animation: pulse-black 3s infinite;
  animation-delay: 0.5s;
}
.blob.ball-left,
.ballm-4{
  transform: scale(1);
  animation: pulse-black 3s infinite;
  animation-delay: 0.7s;
}

.blob:hover{
  box-shadow: 1px 1px 60px 15px rgba(201,88,241,0.44)
}




.swiper-section .swiper-container{
  padding-bottom: 55px;
}
.swiper-section .swiper-container-horizontal>.swiper-pagination-bullets{
  bottom: 0 ;
  display: flex;
  align-items: center;
  justify-content: center;
}
.swiper-section .swiper-pagination-bullet {
  width: 16px;
  height: 16px;
  display: inline-block;
  border-radius: 50%;
  background: transparent;
  opacity: 1;
  border: 1px solid #973DDD;
}
.swiper-section .swiper-pagination-bullet-active{
  width: 24px;
  height: 24px;
}
.swiper-section .swiper-slide{
  text-align: center;
}




@keyframes pulse-black {
  0% {
    transform: scale(0.95);
  }

  70% {
    transform: scale(1);
  }

  100% {
    transform: scale(0.95);
  }
}

@media screen and (max-width: 768px){
  #tsum-tabs div{
    font-size: 18px;
    min-width: 250px;
    padding: 18px;
  }
  #tsum-tabs{
    margin-top: 70px;
  }
  .swiper-section section {
    padding-top: 20px;
  }
  .blob{
    display: none;
  }
  .balls-collection{
    min-height: auto;
  }
}
@media screen and (max-width: 576px){
  .our-collection .btn-main{
    margin-bottom: 10px;
  }
  .balls-mobile {
    padding: 0;
  }
  .wrap-ball-mobile h4{
    font-size:30px;
  }
  .wrap-ball-mobile h4 span{
    font-size: 20px;
  }
  .wrap-ball-mobile h5{
    font-size: 18px;
  }
}