.banner {
  max-width: 1300px;
  margin: 0 auto;
  padding: 1.5rem;
  display: flex;
  justify-content: center;
  margin-top: 5rem;
  // visibility: hidden;
  @include media("<=700px") {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 3rem;
  }
  @include media("<=1100px") {
    margin-top: 5rem;
  }
  @include media("<=700px") {
    margin-top: 0rem;
  }
  .textContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    p {
      font-size: 2.7rem;
      letter-spacing: 0.1em;
      @include media("<=1100px") {
        font-size: 2.4rem;
      }
      @include media("<=900px") {
        font-size: 2.2rem;
      }
      @include media("<=390px") {
        font-size: 2rem;
      }
      @include media("<=360px") {
        font-size: 1.7rem;
      }
    }
    .introText {
      margin-top: 3rem;
      max-width: 400px;
      letter-spacing: 0.1em;
      line-height: 2.2rem;
      font-size: 1.3rem;
      @include media("<=1100px") {
        font-size: 1.1rem;
        max-width: 350px;
        line-height: 2.2rem;
      }
      @include media("<=900px") {
        margin-top: 1.5rem;
        font-size: 1rem;
      }
      @include media("<=700px") {
        margin-top: 1.2rem;
        max-width: 340px;
        line-height: 2rem;
      }
      @include media("<=390px") {
        margin-top: 1rem;
        line-height: 1.8rem;
        font-size: 1rem;
        max-width: 310px;
      }
      @include media("<=360px") {
        margin-top: 1rem;
        line-height: 1.6rem;
        font-size: 0.8rem;
        max-width: 260px;
      }
    }
    .claimButton {
      margin-top: 3rem;
      width: 100%;
      padding: 15px 0px 0px 0px;
      cursor: pointer;
      outline: none;
      border-radius: 10px;
      border: 3px solid $black;
      box-shadow: 0px 4px 20px $black;
      color: $green;
      background-color: black;
      font-weight: 500;
      transition: all 0.3s ease-in-out;
      text-decoration: none;
      display: flex;
      align-items: center;
      justify-content: center;
      @include media("<=1100px") {
        width: 90%;
      }
      @include media("<=900px") {
        margin-top: 1.5rem;
      }
      @include media("<=700px") {
        display: none;
      }
      p {
        font-size: 1.7rem;
        @include media("<=1100px") {
          font-size: 1.3rem;
        }
        @include media("<=700px") {
          font-size: 1.2rem;
        }
      }
      &:hover {
        box-shadow: 0px 4px 10px rgba(55, 150, 240, 0);
      }
    }
  }
  .isengardButton {
    background-color: transparent !important;
    border: 3px solid $green !important;
    box-shadow: 0px 4px 20px $green !important;
  }
  .imageContainer {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex: 1;
    z-index: 0;
    @include media("<=1100px") {
      margin-left: 1rem;
    }
    @include media("<=700px") {
      justify-content: center;
      margin-top: 2rem;
      flex-direction: column;
    }
    .mosaicImage {
      display: grid;
      grid-template-rows: 1fr;
      img {
        // -webkit-filter: grayscale(100%);
        // filter: grayscale(100%);
        width: 100%;
        max-height: 400px;
        object-fit: cover;
        border-radius: 20px;
        transition: all 0.1s ease-in-out;
        border: 2px solid $green;
        @include media("<=900px") {
          max-height: 280px;
        }
        @include media("<=tablet") {
          max-height: 320px;
        }
        @include media("<=700px") {
          max-height: 280px;
        }
        // &:hover {
        //   // z-index: 2;
        //   transform: translateX(-20px);
        //   //   filter: grayscale(0%);
        // }
      }
      .mosaicItem {
        grid-column: 3 / span 4;
        grid-row: 1 / span 4;
        z-index: 10;
        transition: all 0.1s ease-in-out;
        @include media("<=700px") {
          grid-column: 3 / span 4;
          grid-row: 2 / span 4;
        }
        &:hover {
          transform: scale(1.1);
        }
      }
      .mosaicItem2 {
        grid-column: 1 / span 4;
        grid-row: 3 / span 4;
        z-index: 9;
        transition: all 0.1s ease-in-out;
        @include media("<=tablet") {
          display: none;
        }
        @include media("<=700px") {
          display: block;
          grid-column: 1 / span 4;
          grid-row: 1 / span 4;
        }
        &:hover {
          transform: translateX(-40px);
        }
      }
      .mosaicItem3 {
        grid-column: 6 / span 4;
        grid-row: 2 / span 4;
        z-index: 8;
        transition: all 0.1s ease-in-out;
        @include media("<=900px") {
          display: none;
        }
        &:hover {
          transform: translateX(30px);
        }
      }
      .mosaicItem4 {
        grid-column: 5 / span 4;
        grid-row: 4 / span 4;
        z-index: 7;
        transition: all 0.1s ease-in-out;
        @include media("<=900px") {
          display: none;
        }
        &:hover {
          transform: translate3d(20px, 135px, 0);
        }
      }
      .mosaicItem5 {
        grid-column: 3 / span 4;
        grid-row: 6 / span 4;
        transition: all 0.1s ease-in-out;
        @include media("<=900px") {
          display: none;
        }
        &:hover {
          transform: translate3d(-40px, 40px, 0);
        }
      }
    }
    .secondClaimButton {
      margin-top: 2rem;
      padding: 13px 0px 0px 0px;
      cursor: pointer;
      outline: none;
      border-radius: 10px;
      border: 3px solid $black;
      box-shadow: 0px 4px 10px $black;
      color: $green;
      background-color: black;
      transition: all 0.3s ease-in-out;
      font-weight: 500;
      display: none;
      text-decoration: none;
      @include media("<=700px") {
        display: flex;
        align-items: center;
        justify-content: center;
        grid-column: 1 / span 7;
      }
      p {
        font-size: 1.2rem;
      }
      &:hover {
        box-shadow: 0px 5px 12px rgba(55, 150, 240, 0);
      }
    }
    .secontIsengardButton {
      background-color: transparent !important;
      border: 3px solid $green !important;
      box-shadow: 0px 4px 20px $green !important;
    }
  }
}
