.footer{
  padding-top: 68px;
}
.top-footer{
  text-align: center;
}
.social-links a{
  display: inline-block;
  margin-right: 24px;
  transition: 0.3s all ease-in-out;
}
.social-links a:last-child{
  margin-right: 0;
}
.social-links a:hover{
  transform:scale(1.1);
}
.top-footer h4{
  font-size: 34px;
  font-weight: 700 !important;
  margin-bottom: 32px;
}
.top-footer .partners-logo{
  margin-bottom: 120px;
}
.social-links{
  margin-bottom: 32px;
}
.top-footer .mail-link{
  font-size: 22px;
  font-weight: 600;
  color: #6CB0B5;
  transition: 0.3s all ease-in-out;
  padding-bottom: 68px;
  display: block;
}
.top-footer .mail-link:hover{
  color: #6CB0B5;
}
.bottom-footer{
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  padding: 18px 0;
}
.bottom-bar p,
.bottom-bar a{
  display: inline-block;
  position: relative;
  margin-bottom: 0;
  color: white;
  font-size: 22px;
  font-weight: 400;
  padding: 0 10px;
  transition: 0.3s all ease-in-out;
}
.bottom-bar a:hover{
  color: #973DDD;
  text-decoration: none;
}
.bottom-bar p:after,
.bottom-bar a:after{
  content: "";
  position: absolute;
  width: 1px;
  height: 15px;
  background-color: #fff;
  right: 0;
  bottom: 7px;
}
.bottom-bar a:last-child:after{
  content: none;
}
.bottom-links{
  display: flex;
  align-items: center;
  justify-content: flex-end;
}


@media screen and (max-width: 992px){
  .bottom-links{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
  }
  .top-footer .partners-logo {
    margin-bottom: 50px;
  }
}
@media screen and (max-width: 576px){
  .social-links a{
    margin-bottom: 10px;
  }
  .partners-logo img{
    width: 250px !important;
  }
}
@media screen and (max-width: 405px){
  .bottom-bar a:after,
  .bottom-bar p:after{
    content: none;
  }
}