.funds h2{
  font-size: 68px;
  font-weight: 700 !important;
  margin-bottom: 44px;
}
.funds h3{
  margin-bottom: 16px;
  font-size: 28px;
  font-weight: 700 !important;
}
.funds-card{
  padding: 16px;
  background-color:#031A27;
  margin-bottom: 55px;
  border: 1px solid #031A27;
  transition: 0.3s all ease-in-out;
}
.funds-card:hover{
  border:1px solid  #6CB0B5;
}
.funds p.description-funds{
  font-size: 22px;
  font-weight: 400;
  color: #8B8ACA;
}
.legend-wrapper{
  margin: 16px 0;
}
.funds-card .legend-date,
.funds-card .legend-comments{
  display: inline-block;
}
.funds-card .legend-date p,
.funds-card .legend-comments p{
  font-weight: 600;
  font-size: 13px;
  color: #8B8ACA;
  display: inline-block;
  margin-bottom: 0;
  margin-left: 8px;
}
.funds-card .legend-date{
  padding-right: 15px;
  position: relative;
}
.funds-card .legend-date:after{
  content: "";
  position: absolute;
  width: 1px;
  height: 15px;
  background-color: #8B8ACA;
  right: 0;
  bottom: 3px;
}
.funds-card .legend-comments{
  padding-left: 15px;
}