.head{
  padding-top: 30px;
}
.head h1{
  font-family: 'Barlow', sans-serif;
  font-size: 96px;
  color: white;
  font-weight: 800 !important;
  margin-bottom: 40px;
  line-height: 1.25;
}
.head p{
  font-size: 22px;
  color: #8B8ACA;
  line-height: 1.45;
  margin-bottom: 28px;
}
.magician-wrapper{
  position: relative;
  display: block;
}
.play-btn-bg{
  position: absolute;
  left: 33%;
  bottom: 25%;
  transition: 0.3s all ease-in-out;
  width: 34%;
}
.play-btn{
  position: absolute;
  left: 33%;
  bottom: 25%;
  transition: 0.3s all ease-in-out;
  width: 34%;
}
.magician-wrapper:hover .play-btn-bg,
.magician-wrapper:hover .play-btn{
  transform: scale(1.1);
}
.modal-content{
  background-color: #031A27;
  border: 1px solid #6CB0B5;
}
.embed-container {
  position: relative;
  padding-bottom: 56.25%;
  height: 0;
  overflow: hidden;
  max-width: 100%;
}
.embed-container iframe,
.embed-container object,
.embed-container embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}



@media screen and (max-width: 1200px){
  .head h1{
    font-size: 70px;
  }
  .head{
    padding-top: 100px;
  }
}
@media screen and (max-width: 992px){
  .head h1{
    font-size: 48px;
    margin-bottom: 20px;
    line-height: 1.15;
  }
}
@media screen and (max-width: 768px){
  .magician-wrapper{
    padding:0 15%;
  }
  .play-btn-bg,
  .play-btn{
    left: 38%;
    bottom: 24%;
    width: 25%;
  }
}